.svg_style {
  width: 70%;
}

.our_text {
  position: relative;
  padding-inline-start: 2em;
}
.our_text::before {
  content: "";
  position: absolute;
  width: 1.3em;
  height: 2px;
  background-color: white;
  left: 0;
  top: 0.8em;
}

@media (max-width: 1120px) {
  .desc {
    font-size: 52px;
  }
}
